@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');





*{
    font-family: "Fira Sans", serif;
    margin: 0;
    padding: 0;
}

section{
  gap:80px;
  margin-left:150px;
  margin-right:200px;

}
/* Navbar starts here */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    position: static;
    width: 222px;
    height: 38px;
    gap: 10;
    padding: 24px 160px 24px 160px;
}
.nav-btn{
    color:#006A50;
}

/* Navbar ends here */

/* FirstOne starts here */
.firstOne{
    width: 1280px;
    height: 560px;
    background-color: rgb(198, 228, 214);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    margin-left: 115px;
}
.firstOne-title{
    gap: 16;
padding: 0px;
margin: 16px 0px;
color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}
.firstOne-para{
    width: 622px;
height: 201px;
gap: 16;
padding: 0px;
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 56px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;
}

.btn-cmn{
    width: 270px;
    height: 56px;
    gap: 48;
padding: 17px 34px 17px 34px;
margin: 24px 0px;
border-radius: 8px;
background: rgb(0, 106, 80);

}
/* FirstOne ends here */


/* pillars-container starts here */

.pillars-container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    width: 302px;
    height: 244px;
}
.title-cmn{
   margin-top:80px;
   margin-bottom: 32px;;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}
 .pillar{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin: 0px 24px;
    gap: 24;
    padding: 24px;   

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.pillar-head{
    width: 254px;
height: 24px;
gap: 12;
padding: 0px;
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.pillar-para{
    width: 254px;
height: 72px;
gap: 12;
padding: 0px;
margin: 12px 0px;
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.pillar-icon{
width: 49.66px;
height: 53.09px;
margin-left: 0px;
top: 1px;
margin-right: 200px;
margin-bottom: 20px;
}
/* pillars-container ends here */

/* Vision starts here  */


  


.vision{
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
} 
.container { display: flex; 
    flex-direction: row;
     justify-content:space-around; /* Center horizontally */
      align-items: center; /* Center vertically */
      
      width: 410.67px;
      height: 325px;
      width: 100%;
        /* Adjust width to fit the container */ 
        gap: 24px; 
    }



.vision-btn{
   
    width: 122px;
    height: 41px;
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 11px 20px 11px 20px;
    
    /* Inside Auto Layout */
   
    order: 2;
    flex-grow: 0;
    margin: 24px 0px;
 
    border-radius: 8px;
   
    

}


/* Vision ends here  */

/* Quote starts */
.quote-img{

    width: 27.43px;
    height: 54.86px;
    margin-left: 20px;
    margin-top: 50px;
    margin-right:30px;
    margin-bottom: 0px;

}

.quote-para{
   
    width: 1232px;
    height: 96px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12;
    padding: 0px;
    margin: 12px 0px;
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-top: -40px;
margin-left:20px ;
margin-bottom: 0px;
}
.quote-title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
padding: 0px;
margin-top: -30px;
margin-left: 20px;

}
.quote-head{
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin: 4px 0px;
    margin-left: 20px;
}
.special-para{
    align-items: center;
}
/* Quote starts */


/* Recent News section starts */
.news{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:180px ;
    margin-top: 80px;
    gap: 38px;
}
.news-img{
    width: 408px;
    height: 306px;
    border-radius: 24px;
   margin-right: 120px;
   margin-left: -100px;
   margin-top: -90px;
   
}
.main-news{
    width: 1280px;
    height: 402px;
    border-radius: 24px;
background: rgb(255, 255, 255);
margin-left: -100px;;
margin-right:100px ;
}
.news-title{
    width: 744px;
    height: 38px;
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
}

.news-logo{
    width: 134px;
    height: 40px;
    background: url(8f195aac6f4a2c38bbf72c1fbeddbf9b);
}
.news-time{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.date{
    width: 122px;
    height: 24px;
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-left:-515px;
margin-right: 5px;
}
.time{
    width: 105px;
height: 24px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;  
}
.news-para{
    width: 744px;
    height: 72px;
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-top: 30px;
}
.news-btn{
   
    width: 139px;
    height: 48px;

    margin-top: 100px;
    padding: 13px 26px 13px 26px;
    border-radius: 8px;
background: rgb(0, 106, 80);
margin: 0px 48px;
color: rgb(255, 255, 255);
margin-left:-4px;
margin-top: 40px;

}







/* Recent News section finish */